<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="C:\Users\hp\Desktop\New folder\Fprofile.css">
    <title>Document</title>
</head>
<body>
    <div class="container ">
        <div class="main about">
            <div class="row">
                <div class="col-md-4 mt-1">
                    <div class="card text-center sidebar">
                        <div class="card-body">
                            <img src="gitar.jpg" class="rounded-circle" width="150" />
                            <div class="card-body">
                                <h1>Hemant Kaushik</h1>
                                <h2>B.tech CSE</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 mt-1 about" >
                    <div class="card mb-3 content">
                        <h1 class="m-3 pt-3">ABOUT US</h1>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <h3>FULL NAME</h3>
                                </div>
                                <div class="col-md-9 text-secondary">
                                    <h4>Hemant Kaushik</h4>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-3">
                                    <h3>EMAIL</h3>
                                </div>
                                <div class="col-md-9 text-secondary">
                                    <h4>abc@gmail.com</h4>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-3">
                                    <h3>PHONE</h3></div>
                                <div class="col-md-9 text-secondary">
                                    <h4>+918303252156</h4>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-3">
                                    <h3>ADDRESS</h3>
                                </div>
                                <div class="col-md-9 text-secondary">
                                    <h4>xyz</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>